In [ ]:
# import pandas as pd

# # List of file paths to be merged
# file_paths = [
#     "team_data/team_hustle.csv",
#     "team_data/team_misc.csv",
#     "team_data/team_scoring.csv",
#     "team_data/team_tracking.csv",
#     "team_data/team_advanced.csv",
#     "team_data/team_basic.csv"
# ]

# # Read each CSV file into a DataFrame and store in a list
# dataframes = [pd.read_csv(file_path) for file_path in file_paths]

# # Concatenate all DataFrames, combining columns and avoiding duplicates
# merged_df = pd.concat(dataframes, axis=1, join="outer").loc[:, ~pd.concat(dataframes, axis=1).columns.duplicated()]

# # Display the merged DataFrame
# print(merged_df.head())

# # Optionally, save the merged DataFrame to a new CSV file
# merged_df.to_csv("team_data/merged_team.csv", index=False)

     gameid   home team    SEC  PTS  contestedshots  contestedshots2P  \
0  22200001   True  BOS  14400  126              34                19
1  22200001  False  PHI  14400  117              27                15
2  22200002   True  GSW  14400  123              62                29
3  22200002  False  LAL  14400  109              71                35
4  22200003   True  DET  14400  113              59                40

   contestedshots3P  deflections  chargesdrawn  ...  3Ppct  FTM  FTA  FTpct  \
0                15           16             2  ...  0.343   22   28  0.786
1                12           16             0  ...  0.382   24   28  0.857
2                33           23             1  ...  0.356   17   23  0.739
3                36           18             1  ...  0.250   19   25  0.760
4                19           15             0  ...  0.368   19   24  0.792

   ORB  DRB  TRB  STL  TOV  plusminusPTS
0    6   30   36    8   10             9
1    4   27   31    8   14            -9
2   11   37   48   11   18            14
3    9   39   48   12   21           -14
4   12   29   41   11   12             4

[5 rows x 103 columns]

In [7]:
merged_df = pd.read_csv("team_data/merged_team.csv")

In [8]:
merged_df = merged_df.replace({True: 1, False: 0})

C:\Users\barry\AppData\Local\Temp\ipykernel_20156\2268225046.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  merged_df = merged_df.replace({True: 1, False: 0})

In [9]:
merged_df

,gameid,home,team,SEC,PTS,contestedshots,contestedshots2P,contestedshots3P,deflections,chargesdrawn,...,3Ppct,FTM,FTA,FTpct,ORB,DRB,TRB,STL,TOV,plusminusPTS
0,22200001,1,BOS,14400,126,34,19,15,16,2,...,0.343,22,28,0.786,6,30,36,8,10,9
1,22200001,0,PHI,14400,117,27,15,12,16,0,...,0.382,24,28,0.857,4,27,31,8,14,-9
2,22200002,1,GSW,14400,123,62,29,33,23,1,...,0.356,17,23,0.739,11,37,48,11,18,14
3,22200002,0,LAL,14400,109,71,35,36,18,1,...,0.250,19,25,0.760,9,39,48,12,21,-14
4,22200003,1,DET,14400,113,59,40,19,15,0,...,0.368,19,24,0.792,12,29,41,11,12,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2635,52200131,0,OKC,14400,123,42,29,13,9,1,...,0.297,28,32,0.875,13,25,38,7,7,5
2636,52200201,1,MIA,14400,102,32,23,9,16,1,...,0.333,28,32,0.875,10,41,51,7,13,11
2637,52200201,0,CHI,14400,91,34,17,17,11,1,...,0.286,11,15,0.733,5,32,37,5,11,-11
2638,52200211,1,MIN,14400,120,42,24,18,14,0,...,0.406,21,26,0.808,9,38,47,11,16,25
2639,52200211,0,OKC,14400,95,38,27,11,15,1,...,0.325,18,20,0.900,12,30,42,9,17,-25

In [10]:
import pandas as pd

# 載入 CSV 檔案
# final_df = pd.read_csv("team_data/final_team_data/final_merged_team.csv")
final_df = merged_df
# 依球隊名稱字母排序，並建立 1 到 30 的編號映射
unique_teams = sorted(final_df['team'].unique())
team_map = {team: idx + 1 for idx, team in enumerate(unique_teams)}

# 使用 team_map 將 team_home1 和 team_home0 的球隊名稱轉換為對應的數字
final_df['team'] = final_df['team'].map(team_map)
# final_df['team_home0'] = final_df['team_home0'].map(team_map)

# 儲存修改後的 DataFrame 至新 CSV 檔案
output_path = "team_data/merged_team_FINAL.csv"
final_df.to_csv(output_path, index=False)

print(f"轉換完成，並依球隊名稱排序儲存為 {output_path}")

轉換完成，並依球隊名稱排序儲存為 team_data/merged_team_FINAL.csv

In [11]:
final_df

,gameid,home,team,SEC,PTS,contestedshots,contestedshots2P,contestedshots3P,deflections,chargesdrawn,...,3Ppct,FTM,FTA,FTpct,ORB,DRB,TRB,STL,TOV,plusminusPTS
0,22200001,1,3,14400,126,34,19,15,16,2,...,0.343,22,28,0.786,6,30,36,8,10,9
1,22200001,0,23,14400,117,27,15,12,16,0,...,0.382,24,28,0.857,4,27,31,8,14,-9
2,22200002,1,10,14400,123,62,29,33,23,1,...,0.356,17,23,0.739,11,37,48,11,18,14
3,22200002,0,14,14400,109,71,35,36,18,1,...,0.250,19,25,0.760,9,39,48,12,21,-14
4,22200003,1,9,14400,113,59,40,19,15,0,...,0.368,19,24,0.792,12,29,41,11,12,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2635,52200131,0,21,14400,123,42,29,13,9,1,...,0.297,28,32,0.875,13,25,38,7,7,5
2636,52200201,1,16,14400,102,32,23,9,16,1,...,0.333,28,32,0.875,10,41,51,7,13,11
2637,52200201,0,5,14400,91,34,17,17,11,1,...,0.286,11,15,0.733,5,32,37,5,11,-11
2638,52200211,1,18,14400,120,42,24,18,14,0,...,0.406,21,26,0.808,9,38,47,11,16,25
2639,52200211,0,21,14400,95,38,27,11,15,1,...,0.325,18,20,0.900,12,30,42,9,17,-25

In [14]:
import pandas as pd
data = pd.read_csv('team_data/merged_team_FINAL.csv')
# 假設 data_sorted 是你已經排序好的資料
data_sorted = data.copy()

# 獲取所有數值型特徵列，排除 'playerid' 和 'gameid'
columns_to_exclude = [ 'gameid', 'home', 'date', 'team']
features_to_replace = data_sorted.select_dtypes(include=['float64', 'int64']).columns
features_to_replace = [col for col in features_to_replace if col not in columns_to_exclude]

# 定義前幾場比賽的數據平均值，這個變量可以調整
num_games_to_average = 5  # 可以調整這個值，表示取前幾場的數據平均

# 從最後一行開始，往前尋找對應的 playerid 的前幾場比賽
for i in range(len(data_sorted) - 1, -1, -1):
    current_player = data_sorted.loc[i, 'team']

    # 保存找到的前幾場比賽數據的列表
    previous_games = []

    # 遍歷查找前幾場比賽
    for j in range(i - 1, -1, -1):
        if data_sorted.loc[j, 'team'] == current_player and data_sorted.loc[j, 'SEC'] > 0:
            previous_games.append(data_sorted.loc[j, features_to_replace])
        if len(previous_games) >= num_games_to_average:
            break

    # 如果找到的前幾場比賽數據不為空，計算平均值
    if len(previous_games) > 0:
        average_values = pd.DataFrame(previous_games).mean()
        data_sorted.loc[i, features_to_replace] = average_values
    else:
        # 如果沒有找到前幾場比賽，將當前行數據設為 0
        data_sorted.loc[i, features_to_replace] = 0

# 查看結果
data_sorted.head()

C:\Users\barry\AppData\Local\Temp\ipykernel_20156\1925342882.py:31: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '43.6' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_sorted.loc[i, features_to_replace] = average_values
C:\Users\barry\AppData\Local\Temp\ipykernel_20156\1925342882.py:31: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '26.4' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_sorted.loc[i, features_to_replace] = average_values
C:\Users\barry\AppData\Local\Temp\ipykernel_20156\1925342882.py:31: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '17.2' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_sorted.loc[i, features_to_replace] = average_values
C:\Users\barry\AppData\Local\Temp\ipykernel_20156\1925342882.py:31: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '14.6' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_sorted.loc[i, features_to_replace] = average_values
C:\Users\barry\AppData\Local\Temp\ipykernel_20156\1925342882.py:31: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.8' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_sorted.loc[i, features_to_replace] = average_values
C:\Users\barry\AppData\Local\Temp\ipykernel_20156\1925342882.py:31: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '17.6' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_sorted.loc[i, features_to_replace] = average_values
C:\Users\barry\AppData\Local\Temp\ipykernel_20156\1925342882.py:31: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2.4' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_sorted.loc[i, features_to_replace] = average_values
C:\Users\barry\AppData\Local\Temp\ipykernel_20156\1925342882.py:31: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '4.4' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_sorted.loc[i, features_to_replace] = average_values
C:\Users\barry\AppData\Local\Temp\ipykernel_20156\1925342882.py:31: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.6' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_sorted.loc[i, features_to_replace] = average_values
C:\Users\barry\AppData\Local\Temp\ipykernel_20156\1925342882.py:31: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '5.2' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_sorted.loc[i, features_to_replace] = average_values
C:\Users\barry\AppData\Local\Temp\ipykernel_20156\1925342882.py:31: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '5.4' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_sorted.loc[i, features_to_replace] = average_values
C:\Users\barry\AppData\Local\Temp\ipykernel_20156\1925342882.py:31: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2.2' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_sorted.loc[i, features_to_replace] = average_values
C:\Users\barry\AppData\Local\Temp\ipykernel_20156\1925342882.py:31: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '5.8' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_sorted.loc[i, features_to_replace] = average_values
C:\Users\barry\AppData\Local\Temp\ipykernel_20156\1925342882.py:31: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '18.2' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_sorted.loc[i, features_to_replace] = average_values
C:\Users\barry\AppData\Local\Temp\ipykernel_20156\1925342882.py:31: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '19.4' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_sorted.loc[i, features_to_replace] = average_values
C:\Users\barry\AppData\Local\Temp\ipykernel_20156\1925342882.py:31: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '10.6' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_sorted.loc[i, features_to_replace] = average_values
C:\Users\barry\AppData\Local\Temp\ipykernel_20156\1925342882.py:31: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '52.4' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_sorted.loc[i, features_to_replace] = average_values
C:\Users\barry\AppData\Local\Temp\ipykernel_20156\1925342882.py:31: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '12.6' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_sorted.loc[i, features_to_replace] = average_values
C:\Users\barry\AppData\Local\Temp\ipykernel_20156\1925342882.py:31: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '16.4' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_sorted.loc[i, features_to_replace] = average_values
C:\Users\barry\AppData\Local\Temp\ipykernel_20156\1925342882.py:31: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '4.4' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_sorted.loc[i, features_to_replace] = average_values
C:\Users\barry\AppData\Local\Temp\ipykernel_20156\1925342882.py:31: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '19.6' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_sorted.loc[i, features_to_replace] = average_values
C:\Users\barry\AppData\Local\Temp\ipykernel_20156\1925342882.py:31: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '22.8' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_sorted.loc[i, features_to_replace] = average_values
C:\Users\barry\AppData\Local\Temp\ipykernel_20156\1925342882.py:31: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '32.6' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_sorted.loc[i, features_to_replace] = average_values
C:\Users\barry\AppData\Local\Temp\ipykernel_20156\1925342882.py:31: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '52.4' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_sorted.loc[i, features_to_replace] = average_values
C:\Users\barry\AppData\Local\Temp\ipykernel_20156\1925342882.py:31: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '82.4' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_sorted.loc[i, features_to_replace] = average_values
C:\Users\barry\AppData\Local\Temp\ipykernel_20156\1925342882.py:31: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '3.2' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_sorted.loc[i, features_to_replace] = average_values
C:\Users\barry\AppData\Local\Temp\ipykernel_20156\1925342882.py:31: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '279.8' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_sorted.loc[i, features_to_replace] = average_values
C:\Users\barry\AppData\Local\Temp\ipykernel_20156\1925342882.py:31: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '25.6' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_sorted.loc[i, features_to_replace] = average_values
C:\Users\barry\AppData\Local\Temp\ipykernel_20156\1925342882.py:31: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '17.6' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_sorted.loc[i, features_to_replace] = average_values
C:\Users\barry\AppData\Local\Temp\ipykernel_20156\1925342882.py:31: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '34.4' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_sorted.loc[i, features_to_replace] = average_values
C:\Users\barry\AppData\Local\Temp\ipykernel_20156\1925342882.py:31: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '23.6' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_sorted.loc[i, features_to_replace] = average_values
C:\Users\barry\AppData\Local\Temp\ipykernel_20156\1925342882.py:31: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '57.6' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_sorted.loc[i, features_to_replace] = average_values
C:\Users\barry\AppData\Local\Temp\ipykernel_20156\1925342882.py:31: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '21.6' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_sorted.loc[i, features_to_replace] = average_values
C:\Users\barry\AppData\Local\Temp\ipykernel_20156\1925342882.py:31: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '29.6' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_sorted.loc[i, features_to_replace] = average_values
C:\Users\barry\AppData\Local\Temp\ipykernel_20156\1925342882.py:31: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '100.2' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_sorted.loc[i, features_to_replace] = average_values
C:\Users\barry\AppData\Local\Temp\ipykernel_20156\1925342882.py:31: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '41.2' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_sorted.loc[i, features_to_replace] = average_values
C:\Users\barry\AppData\Local\Temp\ipykernel_20156\1925342882.py:31: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '36.4' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_sorted.loc[i, features_to_replace] = average_values
C:\Users\barry\AppData\Local\Temp\ipykernel_20156\1925342882.py:31: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '24.6' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_sorted.loc[i, features_to_replace] = average_values
C:\Users\barry\AppData\Local\Temp\ipykernel_20156\1925342882.py:31: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '12.8' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_sorted.loc[i, features_to_replace] = average_values
C:\Users\barry\AppData\Local\Temp\ipykernel_20156\1925342882.py:31: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '30.4' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_sorted.loc[i, features_to_replace] = average_values
C:\Users\barry\AppData\Local\Temp\ipykernel_20156\1925342882.py:31: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '43.2' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_sorted.loc[i, features_to_replace] = average_values
C:\Users\barry\AppData\Local\Temp\ipykernel_20156\1925342882.py:31: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '10.2' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_sorted.loc[i, features_to_replace] = average_values
C:\Users\barry\AppData\Local\Temp\ipykernel_20156\1925342882.py:31: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '109.8' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_sorted.loc[i, features_to_replace] = average_values
C:\Users\barry\AppData\Local\Temp\ipykernel_20156\1925342882.py:31: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '7.6' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_sorted.loc[i, features_to_replace] = average_values
C:\Users\barry\AppData\Local\Temp\ipykernel_20156\1925342882.py:31: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2.4' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_sorted.loc[i, features_to_replace] = average_values
C:\Users\barry\AppData\Local\Temp\ipykernel_20156\1925342882.py:31: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '16.2' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_sorted.loc[i, features_to_replace] = average_values
C:\Users\barry\AppData\Local\Temp\ipykernel_20156\1925342882.py:31: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '52.8' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_sorted.loc[i, features_to_replace] = average_values
C:\Users\barry\AppData\Local\Temp\ipykernel_20156\1925342882.py:31: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '5.8' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_sorted.loc[i, features_to_replace] = average_values
C:\Users\barry\AppData\Local\Temp\ipykernel_20156\1925342882.py:31: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '4.4' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_sorted.loc[i, features_to_replace] = average_values
C:\Users\barry\AppData\Local\Temp\ipykernel_20156\1925342882.py:31: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '12.2' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_sorted.loc[i, features_to_replace] = average_values
C:\Users\barry\AppData\Local\Temp\ipykernel_20156\1925342882.py:31: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-4.2' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_sorted.loc[i, features_to_replace] = average_values
C:\Users\barry\AppData\Local\Temp\ipykernel_20156\1925342882.py:31: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '368.6' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_sorted.loc[i, features_to_replace] = average_values
C:\Users\barry\AppData\Local\Temp\ipykernel_20156\1925342882.py:31: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '88.2' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_sorted.loc[i, features_to_replace] = average_values
C:\Users\barry\AppData\Local\Temp\ipykernel_20156\1925342882.py:31: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '18.6' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_sorted.loc[i, features_to_replace] = average_values
C:\Users\barry\AppData\Local\Temp\ipykernel_20156\1925342882.py:31: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '9.6' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_sorted.loc[i, features_to_replace] = average_values

,gameid,home,team,SEC,PTS,contestedshots,contestedshots2P,contestedshots3P,deflections,chargesdrawn,...,3Ppct,FTM,FTA,FTpct,ORB,DRB,TRB,STL,TOV,plusminusPTS
0,22200001,1,3,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,22200001,0,23,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,22200002,1,10,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,22200002,0,14,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,22200003,1,9,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
grouped_data = pd.DataFrame(data_sorted)
grouped_data.to_csv('team_data/merged_team_FINAL_lookforward.csv', index=False)

In [18]:
import pandas as pd
merged_df = data_sorted
# 假設已經合併的 DataFrame 是 merged_df
# 將 `home` 為 1 與 0 的資料分成兩個 DataFrame
home_true = merged_df[merged_df['home'] == 1].set_index('gameid')
home_false = merged_df[merged_df['home'] == 0].set_index('gameid')

# 使用 gameid 合併兩個 DataFrame，home 為 0 的資料會在右側
final_df = home_true.join(home_false, lsuffix='_home1', rsuffix='_home0')

# 儲存合併後的 DataFrame 到新的 CSV 檔案
output_path = "team_data/final_team_data/final_merged_team_lookforward.csv"
final_df.to_csv(output_path, index=True)

print(f"Final merged CSV saved to {output_path}")

Final merged CSV saved to team_data/final_team_data/final_merged_team_lookforward.csv

In [19]:
import pandas as pd

# 讀取 CSV 檔案
final_lookforward_df = pd.read_csv("team_data/final_team_data/final_merged_team_lookforward.csv")
final_data_sec_df = pd.read_csv("content/final_data_sec_nonzero_sufficient.csv")

# 根據 gameid 將 final_merged_team_lookforward 的資料合併到 final_data_sec_nonzero_sufficient 的右側
merged_final_data = final_data_sec_df.merge(final_lookforward_df, on='gameid', how='left')

# 儲存合併後的 DataFrame 至新的 CSV 檔案
output_path = "content/final_merged_with_lookforward.csv"
merged_final_data.to_csv(output_path, index=False)

print(f"合併完成並儲存為 {output_path}")

合併完成並儲存為 content/final_merged_with_lookforward.csv

In [20]:
merged_final_data

,gameid,playerid,estOFFRTG,OFFRTG,estDEFRTG,DEFRTG,estNETRTG,NETRTG,ASTpct,ASTtoTOV,...,3Ppct_home0,FTM_home0,FTA_home0,FTpct_home0,ORB_home0,DRB_home0,TRB_home0,STL_home0,TOV_home0,plusminusPTS_home0
0,22200002,2544,93.3,97.6,110.4,109.4,-17.1,-11.8,0.421,1.60,...,0.000000,0.0,0.000000,0.0000,0.0,0.00,0.00,0.000000,0.000000,0.000000
1,22200016,2544,85.1,82.9,85.9,88.5,-0.8,-5.5,0.375,3.00,...,0.000000,0.0,0.000000,0.0000,0.0,0.00,0.00,0.000000,0.000000,0.000000
2,22200037,2544,103.7,107.4,106.7,101.2,-3.0,6.2,0.364,2.00,...,0.369000,28.5,34.500000,0.8245,12.0,34.00,46.00,9.500000,14.500000,4.500000
3,22200064,2544,97.1,97.4,108.4,107.8,-11.3,-10.4,0.391,1.13,...,0.210667,19.0,23.666667,0.8020,9.0,33.00,42.00,11.333333,14.666667,-7.333333
4,22200076,2544,87.4,88.1,107.7,104.8,-20.3,-16.7,0.294,1.67,...,0.224750,17.0,21.750000,0.7735,8.5,34.75,43.25,10.500000,14.500000,-8.250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27372,22201164,1631323,66.5,64.5,116.7,110.0,-50.2,-45.5,0.000,0.00,...,0.308600,16.8,22.200000,0.7712,12.4,35.60,48.00,3.800000,14.800000,-9.400000
27373,22201186,1631323,126.9,123.4,133.6,133.3,-6.7,-9.9,0.000,0.00,...,0.354600,21.6,28.800000,0.7486,12.6,35.40,48.00,7.600000,13.000000,8.600000
27374,22201200,1631323,86.2,83.9,111.0,107.1,-24.8,-23.2,0.000,0.00,...,0.306600,26.4,32.800000,0.8006,10.8,29.40,40.20,7.800000,9.600000,-5.400000
27375,22201213,1631323,105.0,104.0,100.2,100.0,4.9,4.0,0.286,1.33,...,0.260200,15.0,22.200000,0.6780,13.0,31.60,44.60,8.400000,12.600000,-9.800000
27376,22201228,1631323,110.8,109.0,110.9,113.6,-0.1,-4.7,0.087,0.00,...,0.298000,17.8,22.800000,0.7900,10.8,39.00,49.80,5.200000,15.200000,-4.600000